.title {
  position: absolute;
  top: -50px; /* Regola la distanza dal top */
  left: 150px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #0056b3;
}



.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 2cm;
  height: 100vh; /* Altezza pari all'altezza della finestra visualizzata */
  background-color: #007bff; /* Colore azzurro */
}

.button-container {
  position: fixed;
  top: 75px;
  right: 20px;
  z-index: 1000; /* Assicura che i bottoni siano sopra gli altri contenuti */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 2cm; /* Spazio per la linea verticale */
  text-align: left; /* Allinea il testo a sinistra */
  position: relative;
}



.separatore {
  margin-top: 120px; /* Posizionamento più in basso */
  border: none; /* Rimuove il bordo predefinito */
  height: 1px; /* Altezza della linea */
  width: 100%;
  background-color: #333; /* Colore della linea */
}

.button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
}

.button:hover {
  background-color: #0056b3;
}

.container p {
  text-align: left; /* Allinea il testo a sinistra */
  max-width: 450px; /* Larghezza massima del testo */
  margin-left: 60px; /* Rimuove il margine sinistro automatico */
}

.container h1{
  text-align: left; /* Allinea il testo a sinistra */
  max-width: 350px; /* Larghezza massima del testo */
  margin-left: 60px; /* Rimuove il margine sinistro automatico */

}




@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }


  .button {
    display: block;
    margin: 0 auto 10px;
  }
}
