.hidden {
    display: none;
}
.highlight {
    color: #087AE3;
    font-weight: bold;
    text-shadow:
    2px 3px 9px rgb(255, 255, 255),
    0 0 2em #ffffff,
    0 0 0.2em #ffffff;
  }
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.vertical-bar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 22%; 
    height: 100%; 
    background-color: #087AE3; 
}
.content{
    margin-left: 25%;
}
h2{
    color: #087AE3;
    position: relative;
    top:70px;
}
h3{
    color: #087AE3;
    position: relative;
    top: 60px;
}
.aggiungi {
    background-color: #087AE3; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 15px; 
    cursor: pointer; 
    font-size: 16px;
    margin-right: 20px; 
    transition: background-color 0.3s;
    text-decoration: none;
    position: fixed;
    right: 25px;
    
}

.aggiungi:hover {
    background-color: #2980b9; 
}

.content {
    flex-grow: 1; 
    padding: 20px; 
}
.modifica{
    border: none; 
    cursor: pointer; 
    margin-right: 20px; 
    text-decoration: none;
    position: fixed;
    right: 80px;
    background-color: #fff;
    width: 12px; 
    height: 12px; 
    
}

.delete-icon{
    width: 1%;
}
.distanziate {
    display: flex;
    justify-content: flex-start; 
}

.distanziate span {
    margin-right: 140px;
}

.distanziate span:last-child {
    margin-right: 0;
    margin-left: 350px;
}


.nota-element {
    display: flex;
    justify-content: flex-start; 
}
.nota-element span.nota-motivazione{
    margin-right: 43px;
}
.nota-element span + span {
    margin-left: 70px;
}

/* .nota-element span.nota-descrizione + span.nota-sottocategoria {
    margin-left: -39px;
} */
.nota-element span.nota-descrizione-sottocategoria{
    width: 160px;

}
.nota-element span.nota-costo {
    margin-left: 430px; 
}
.filtro{
    border: none; 
    cursor: pointer; 
    margin-right: 20px; 
    text-decoration: none;
    position: fixed;
    right: 25px;
    background-color: #fff;
    top: 230px;
    
}
/* Definizione delle classi CSS per colorare lo sfondo */
.nota-element:nth-child(even) {
    background-color: #127FE4; 
}
.nota-element:nth-child(odd) {
    background-color: #ffff;    
}
.nota-element span {
    display: hidden;
    width: 100px; /* Imposta l'altezza desiderata per tutti gli span */
    vertical-align: top; /* Allinea i contenuti in cima */
}
#formFiltraNota {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    background-color: #007bff;
    border-radius: 6px;
    color: white;
}

#formFiltraNota label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#formFiltraNota input[type="date"],
#formFiltraNota select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
}

#formFiltraNota button {
    background-color: #0056b3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#formFiltraNota button:hover {
    background-color: #004080;
}
.filtra{
    position: fixed;
    right: 44px;
    top: 230px;
    width: 6px; 
    height: 22px;
}
.logout{
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    position: fixed;
    top: 69px;
    right: 52px;
    /* Altri stili desiderati, come padding, margin, ecc. */
}
.elementi{
    margin-bottom: 25px;
}
