.hidden {
    display: none;
}
.highlight {
    color: #087AE3;
    font-weight: bold;
    text-shadow:
    2px 3px 9px rgb(255, 255, 255),
    0 0 2em #ffffff,
    0 0 0.2em #ffffff;
  }
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
  .vertical-bar {
    position: fixed; /* Fissa la barra sul lato sinistro della pagina */
    top: 0; /* Allinea la barra con la parte superiore della pagina */
    left: 0; /* Posiziona la barra a sinistra */
    width: 22%; /* Larghezza della barra */
    height: 100%; /* Altezza della barra (fino alla fine della pagina) */
    background-color: #087AE3; /* Colore di sfondo blu */
}
.content{
    margin-left: 25%;
}
h2{
    color: #087AE3;
}
.container {
    border-color: #0056b3;
    width: 1000px; /* Riduci la larghezza del container a 400px */
    height: 550px; /* Riduci l'altezza del container a 500px */
    position: absolute;
    top: 58%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: border 0.3s ease, transform 0.6s ease;
    box-shadow: 0 0 30px rgba(8, 122, 227, 1.4);
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 7%;
}


.container:hover {
    border-color: #007bff;
    transform: translate(-50%, -50%) scale(1.05);
}

/* Imposta la larghezza di tutti gli input, select e button al 100% */
.container input, .container select {
    width: 100%; /* Modifica la larghezza */
    margin-bottom: 10px; /* Aggiungi margine inferiore per distanziare gli elementi */
}


.contenutoForm{
    left: 40px;
    top: 140px;
    position: fixed;

}
.contenutoForm {
    width: 100%; /* Assicura che il contenuto occupi la larghezza massima */
    text-align: left; /* Allinea gli elementi a sinistra */
}

.contenutoForm select{
    width: 540px; /* Imposta la larghezza degli elementi al 100% del contenitore */
    padding: 12px; /* Aumenta il padding per rendere gli elementi più grandi */
    background-color: #e0e0e0; /* Imposta uno sfondo grigio chiaro */
    border-radius: 8px; /* Arrotonda i bordi degli elementi */
    border: 1px solid #ccc; /* Aggiunge un sottile bordo grigio */
    margin-bottom: 12px; /* Aggiunge spazio tra gli elementi */
    font-size: 18px; /* Aumenta la dimensione del carattere */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
}
.contenutoForm input {
    width: 514px; /* Imposta la larghezza degli elementi al 100% del contenitore */
    padding: 12px; /* Aumenta il padding per rendere gli elementi più grandi */
    background-color: #e0e0e0; /* Imposta uno sfondo grigio chiaro */
    border-radius: 8px; /* Arrotonda i bordi degli elementi */
    border: 1px solid #ccc; /* Aggiunge un sottile bordo grigio */
    margin-bottom: 12px; /* Aggiunge spazio tra gli elementi */
    font-size: 18px; /* Aumenta la dimensione del carattere */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
}
.image{
    position: fixed;
    right: 80px;
    bottom: 230px;
}
.modifica{
    position: fixed;
    margin-top: 10px;
    bottom: 20px;
    background-color: #087AE3; /* Colore blu */
    color: white; /* Testo bianco */
    padding: 10px 20px; /* Spaziatura intorno al pulsante */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 15px; /* Angoli arrotondati */
    font-size: 16px; /* Dimensione del carattere */
    cursor: pointer; /* Mostra il cursore a forma di mano al passaggio del mouse */
    transition: background-color 0.3s ease;
}
.modifica:hover {
    background-color: #0056b3; /* Colore più scuro quando il mouse è sopra */
}
.indietro{
    position: fixed;
    left: 45px;
    top: 25px;
}
